{
  "extends": ["react-app", "airbnb", "prettier"],
  "plugins": ["react", "react-hooks", "prettier"],
  "rules": {
    "import/prefer-default-export": 0,
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": "warn",
    "arrow-body-style": "warn",
    "no-unused-expressions": 0,
    "prefer-destructuring": 0,
    "camelcase": 0,
    "no-alert": 0,
    "spaced-comment": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-uses-react": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": 0
  },
  "overrides": [{ "files": ["*.jsx", "*.js"] }]
}
