.nws-modal-wrapper .spinner img {
  width: calc(var(--size) / 1.2);
  height: calc(var(--size) / 1.2);
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 5%) 0 10px 20px 0;
  padding: 0;
}